.linked-info-handle {
    transform: translateX(67%);
    transition: all 1s ease-in-out;

    overflow-x: hidden;
}

.linked-info-handle .info-handle-summary {
    background-color: var(--bg-colour);
}

.linked-info-handle:hover:not(.selected-info-handle) {
    transform: translateX(0%);
}

.linked-info-handle:hover:not(.selected-info-handle) .info-handle-summary {
    /* background-color: var(--dark-theme-orange); */
    text-decoration: underline;
}

.linked-info-handle a:hover {
    text-decoration: none;
}

.selected-info-handle .info-handle-caption {
    color: var(--dark-theme-font-colour);
}