#friendly {
    margin-top: 33vh;
    text-align: center;
    vertical-align: middle;
    border: none;
}

#friendly > a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.content {
    position: relative;
    display: flex;
    margin: 0;
    margin-top: 2.5vh;
    padding: 10vh 0vw;

    font-family: "Roboto", sans-serif;
    color: #333;
}

.content h1 {
    font-style: italic; 
}

.content h1:not(:first-child),
.content h2, 
.content h3 { 
    margin-top: 7.5vh;
}

.content h1,
.content h2, 
.content h3 {
    margin-bottom: 2vh;

    font-family: 'Playfair Display', serif;
    text-align: left;
    border-bottom: 1px solid burlywood;
}

.content a {
    color: rgb(230, 171, 94);
}