section.contact {
    overflow: hidden;
    width: 100%;

    color: #95a5a6;
}

.background-image {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;

    z-index: -5;
}

.contact-icon {
    position: relative;

    color: inherit;

    font-size: 2500%;
}

.github {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;

    overflow-y: inherit;
    align-items: center;
    justify-content: center;

    background-color: rgba(74, 87, 88, 0.7);
}

.ion-social-github,
.ion-social-youtube {
    -webkit-transition: color 0.75s;
    -moz-transition: color 0.75s;
    transition: color 0.75s;
}

.ion-social-github:hover {
    color: #171516;
}

.ion-earth:hover {
    color: #2ecc71;
}

.ion-social-youtube:hover {
    color: #bb0000;
}