@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('../../fonts/gabriola.woff') format('woff');
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gabriola', 'Macondo Swash Caps', sans-serif;
}

html, body {
    position: relative;

    height: 100vh;
    width: 100vw;

    color: #ddd;

    font-size: 25px;
    text-align: center;
    vertical-align: middle;

    overflow-x: hidden;

    z-index: 0;
}

button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
}

.no-margin {
    margin: 0% !important;
    padding: 0% !important;
}

.splash-screen {
    display: flex;
    align-items: center;
    position: relative;

    color: #ddd;

    z-index: 25;
}

.narci {
    position: relative;
    display: inline-block;

    font-size: 350%;
    color: #ddd;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}
