.navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;

    left: -3vw;

    color: inherit;

    width: 30vw;

    list-style: none;
    font-size: 100%;

    z-index: 1000;
}

.bottom {
    top: 90vh;
}

.right {
    right: 2.5vw;
    left: initial;
}

.row-nav {
    flex-direction: row;
    width: initial;
}

.left-align {
    align-items: flex-start;
    left: 0vw;

    margin-left: 2vw;
}

.navigation:first-child {
    padding-top: 10vh;
}

.bottom.navigation:first-child {
    padding-top: 0vh;
}

.navigation a {
    position: relative;
    line-height: 125%;
    padding-bottom: -5px;
}

.navigation a:link, 
.navigation a:visited {
    display: inline-block;

    color: inherit;
    text-decoration: none;
}

/* .navigation a:hover,
.navigation a.active {
    text-decoration: none;
    color: #fff;
    background-color: #e5a952;
} */

.navigation a::after {
    border-bottom: 1px solid transparent;
    width: 0%;
    height: 0%;
    content: '';

    box-sizing: inherit;
    position: absolute;

    bottom: 0%;
    left: 0%;

    -webkit-transition: border-color 0.5s ease-out, 
                            width 0.25s ease-out, 
                            height 0.25s ease-out 0.25s;
    transition: border-color 0.5s ease-out, 
                    width 0.25s ease-out, 
                    height 0.25s ease-out 0.25s;
}

.navigation a:hover::after {
    width: 100%;  
    /* height: 90%; */
    
    border-color: #fff;
}

.row-nav.navigation a:link, 
.row-nav.navigation a:visited {
    display: inline-block;
}

.navigation.row-nav a {
    margin-left: 5vw;
}

.navigation-container {
    text-align: center;

    color: inherit;
    background-color: #fff;
    font-size: inherit;
}

.tilt {
    transform-origin: 0% 0%;
    /* transform: rotateZ(-45deg)  translate(-29.4vw, -55vh); */
    transform: rotateZ(-45deg) translate(-51vw, 10.705vh); 
    /* transform: translate(-40.4vw, 9.956vh) rotateZ(-45deg);  */
    /*I used trig to get the translation values, mathematically, ideal values would be approx (-42.4vw, 2.65vw)
    after using trig to calculate the distance to top corner is 15(root 2)*/
    width: 100%; 
}

.right.tilt {
    transform-origin: 100% 0%;
    /* transform: rotateZ(45deg)  translate(26.5vw, -55vh); */
    transform: rotateZ(45deg) translate(51.5vw, 10.705vh);
}