* {
    margin: 10px;
}

html, body {
    color: #3498db;
    
    font-size: 25px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 250%;
    font-weight: 100;
}

.bigIcon {
    display: block;

    color:  #3498db;

    font-size: 400%;
}

.ion-social-github,
.ion-social-youtube,
.ion-earth {
    -webkit-transition: color 0.45s;
    -moz-transition: color 0.45s;
    transition: color 0.45s;
}

.ion-social-github:hover {
    color: #171516;
}

.ion-earth:hover {
    color: #2ecc71;
}

.ion-social-youtube:hover {
    color: #bb0000;
}