.info-handle-wrapper,
.linked-info-handle-wrapper {
    display: flex;
    flex: 1;
    
    justify-content: center;
    align-items: stretch;
    
    overflow: hidden;
}

/*
    LinkedInfoHandles need to manage translations themselves.
    Otherwise, we end up navigating when we click on whitespace.
*/
.info-handle:not(.linked-info-handle .info-handle) {
    transform: translateY(50%);
}

.info-handle {
    display: flex;
    flex-direction: column;

    transition: all 0.75s ease-in-out;
}

.info-handle:not(.linked-info-handle .info-handle):hover {
    transform: translateY(0%);
}

.info-handle-caption {
    display: flex;
    flex: 1;
    flex-direction: row;

    padding: 0vh 2vw;
    
    justify-content: center;
    align-items: center;

    color: var(--dark-theme-orange);

    border-bottom: 1px solid var(--dark-theme-orange);
}

/* .info-handle-caption > * {
    flex: 1;
} */

.info-handle .info-handle-caption > h2 {
    margin: 0vh 0vw;
    margin-bottom: 1vh;

    border-bottom: none;

    color: var(--dark-theme-font-colour);
    text-align: center;
}

.info-handle-summary {
    display: flex;
    flex: 1;

    margin: 1vh 0vw;

    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 1s ease-in-out;
    color: var(--dark-theme-font-colour);
}