.info-handle-wrapper,
.linked-info-handle-wrapper {
    overflow-x: hidden;
}

/*
    LinkedInfoHandles need to manage translations themselves.
    Otherwise, we end up navigating when we click on whitespace.
*/
.info-handle:not(.linked-info-handle .info-handle) {
    transform: translateX(67%);
}

.info-handle {
    display: flex;
    flex-direction: row;

    transition: all 1s ease-in-out;
}

.info-handle:not(.linked-info-handle .info-handle):hover {
    transform: translateX(0%);
}

.info-handle-caption {
    display: flex;
    flex: 1;
    flex-direction: row;

    padding: 2vh 0vw;

    justify-content: center;
    align-items: center;

    color: var(--dark-theme-orange);

    border-right: 2px solid var(--dark-theme-orange);
}

.info-handle-caption > h2 {
    margin: 0vh 0vw;
    margin-left: 1vw;

    color: var(--dark-theme-font-colour);
    text-align: center;
}

.info-handle-summary {
    display: flex;
    flex: 2;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: 1vw;

    transition: all 1s ease-in-out;
    color: var(--dark-theme-font-colour);
}