.info-handle-wrapper {
    overflow-x: hidden;
}

.info-handle {
    display: flex;
    flex-direction: row;
    
    transform: translateX(67%);
}

.info-handle-caption {
    display: flex;
    flex: 1;
    flex-direction: row;

    padding: 2vh 0vw;

    justify-content: center;
    align-items: center;

    border-right: 2px solid burlywood;
}

.info-handle-caption > h2 {
    margin: 0vh 0vw;
    margin-left: 1vw;

    text-align: center;
}

.info-handle {
    transition: all 1s;
}

.info-handle-summary {
    display: flex;
    flex: 2;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding-left: 1vw;
}

.info-handle:hover {
    cursor: pointer;

    transform: translateX(0%);
}