.most-played-track,
.most-recent-track {
    display: flex;
    flex-direction: column;
}

.most-played-track > *,
.most-recent-track > * {
    flex: 1;
}

.most-played-track > .spotify-player
.most-recent-track > .spotify-player {
    width: 75%;
}