.most-played-track,
.most-recent-track {
    display: flex;
    flex-direction: column;

    width: 22.5vw;
}

.most-played-track > *,
.most-recent-track > * {
    flex: 1;
}

.most-played-track > .spotify-player,
.most-recent-track > .spotify-player {
    width: 20vw;
}

.most-played-track > p,
.most-recent-track > p {
    margin-top: 2.5vh;
    text-align: center;
}

.most-recent-track > p.currently-playing > svg {
    color: var(--dark-theme-orange);
}