a, a:active, a:focus {
    outline: 0;
    color: #444;
}

a.picker {
    height: 100%;

    background-color: #f7f7f7;

    transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

a.picker:hover {
    color: burlywood;
    text-decoration: none; 

    cursor: pointer;
}

.picker {
    position: relative;
}

.picker::before, .selected::before {
    content:"";
    position: absolute;
    top: 20%;
    left: 0px;
    box-sizing: inherit;

    height: 60%;
    border-left: 1px solid #bbb;
}

.picker::after {
    content: "";
    position: absolute; 
    bottom: -1.5px;
    left: 0px;
    box-sizing: inherit;

    border: 1px solid transparent;
    height: 0%;
    width: 0%;

    transition: height 0.25s, width 0.25s 0.25s, border-color 0.25s; 
}

.picker:hover::after {
    height: 100%;
    width: 100%;

    border-color: burlywood;
}

.picker h2 {
    margin: 0;
}

.selected {
    color: burlywood;
}

.selected::before {
    border-left: 1px solid burlywood;
}