a[data-toggle="collapse"] {
    display: inline-block;
    position: absolute;
    left: 0;

    text-align: left;
    font-size: 2em;

    z-index: 5;
}

#help p {
    display: inline-block;
    margin: 0;
    padding: 1% 5%;
    width: 81.25%;

    border: 1px solid burlywood;
}

#helper {
    display: inline-block;
    /* position: relative; */
    
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#sneaky {
    display: none;
}

#wrapper {
    position: relative;
    margin-bottom: 5vh;
}