#bu-overview {
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#bu-overview video {
    width: 100%;
}

#bu-overview > p {
    margin-top: 1.5vh;
    margin-bottom: 0vh;
}

#bu-overview > p > span {
    color: var(--dark-theme-orange);
    
    font-style: italic;
    font-weight: bold;
}

#bu-intro {
    position: relative;
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;

    max-width: 100%;

    text-align: center;
}

#bu-intro > #bu-intro-video video {
    max-width: 100%;
}

#bu-mini-player-overlay {
    position: absolute;

    top: 0;
    
    height: calc(100% - 2.5vh);
    width: 100%;

    z-index: 32;
}

#bu-mini-player-overlay > #bu-overlay-colour {
    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    background-color: var(--bg-colour);
    opacity: 0.7;

    z-index: -1;
}

#bu-mini-player-overlay > #bu-overlay-content {
    display: flex;

    height: 100%;
}

#bu-mini-player-overlay > #bu-overlay-content > div {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;

    text-align: left;

    opacity: 0.9;
}

#bu-mini-player-overlay > #bu-overlay-content > div > * {
    margin: 0;
    margin-left: 2.5vw;
}

#bu-mini-player-overlay > #bu-overlay-content > div > h2,
#bu-intro-classification > #bu-classification-overview > h2 {
    margin-bottom: 2.5vh;
}

#bu-intro-classification {
    display: flex;

    flex-direction: row;
}

#bu-intro-classification > #bu-classification-overview {
    display: flex;

    flex: 3;
    flex-direction: column;
    justify-content: center;
}

#bu-intro-classification > #bu-classification-circles {
    --animation-duration: 10s;
    /* --circle-diameter: 5vw; */
    --circle-diameter: 25px;
    
    position: relative;
    display: flex;
    
    flex: 1;
    flex-direction: column;

    align-items: center;
}

#bu-intro-classification > #bu-classification-overview > p {
    text-align: left;
}

#bu-classification-circles .bu-classification-circle {
    position: absolute;

    height: var(--circle-diameter);
    width: var(--circle-diameter);

    border-radius: 50%;
    opacity: 0.75;

    animation: circle-glow ease-in-out infinite alternate, circle-rotate 15s linear infinite;
    animation-duration: var(--animation-duration);
    /* animation-duration: 2s; */

    transform-origin: 150% 150%;
}

#bu-classification-circles .bu-classification-circle:first-of-type {
    animation-duration: calc(var(--animation-duration) / 5);
}

#bu-classification-circles .bu-classification-circle:last-of-type {
    /* animation-delay: calc(var(--animation-duration) / 2); */
}

#bu-classification-circles > #bu-circles-top-row {
    /*
        Just so you don't have to figure this out yourself:
        We're putting this in the middle of the div, then shifting it up by 2/3rds of the circle's diameter.
        We're shifting downwards by 2/3rds the diameter for the bottom row.
    */
    top: calc(50% - (var(--circle-diameter)));
}

#bu-classification-circles > #bu-circles-middle-row {
    top: calc(50% - (var(--circle-diameter) / 2));
}

#bu-classification-circles > #bu-circles-bottom-row {
    /* top: calc(4 * var(--circle-diameter) / 3); */
    /* top: var(--circle-diameter); */
    top: 50%;
}

#bu-classification-circles > #bu-circles-middle-row > .bu-classification-circle:first-of-type {
    left: calc(var(--circle-diameter) / 3);
}

#bu-classification-circles > #bu-circles-middle-row > .bu-classification-circle:last-of-type {
    left: calc(0px - var(--circle-diameter) / 3);
}

#bu-classification-circles > #bu-circles-top-row > .bu-classification-circle:nth-child(even),
#bu-classification-circles > #bu-circles-bottom-row > .bu-classification-circle:nth-child(even),
#bu-classification-circles > #bu-circles-middle-row > .bu-classification-circle:first-of-type {
    animation-delay: calc(0s - var(--animation-duration) / 3);
}

#bu-classification-circles > #bu-circles-middle-row > .bu-classification-circle:nth-of-type(2) {
    animation-delay: calc(0s - 2 * var(--animation-duration) / 3);
}

#bu-classification-circles > .bu-circle-row {
    display: flex;
    position: absolute;
    
    flex-direction: row;
}

@keyframes circle-glow {
    0% {
        background-color: var(--dark-theme-orange);
    }

    20% {
        background-color: #EE5253;
    }

    40% {
        background-color: #8C7AE6;
    }

    60% {
        background-color: #0984E3;
    }

    80% {
        background-color: #55EFC4;
    }

    100% {
        background-color: #FFFA65;
    }
}

@keyframes circle-rotate {
    0% {
        transform: rotateZ(0deg);
        top: 0vh;
    }
    
    50% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(720deg);
    }
}