#bu-overview {
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

#bu-overview video {
    width: 100%;
}

#bu-overview > p {
    margin-top: 1.5vh;
    margin-bottom: 0vh;
}

#bu-overview > p > span {
    color: var(--dark-theme-orange);
    
    font-style: italic;
    font-weight: bold;
}

#bu-intro {
    position: relative;
    display: flex;

    flex: 1;
    flex-direction: column;
    align-items: center;

    max-width: 100%;

    text-align: center;
}

#bu-intro > #bu-intro-video video {
    max-width: 100%;
}

#bu-mini-player-overlay {
    position: absolute;

    top: 0;
    
    height: calc(100% - 2.5vh);
    width: 100%;

    z-index: 32;
}

#bu-mini-player-overlay > #bu-overlay-colour {
    position: absolute;

    top: 0;

    height: 100%;
    width: 100%;

    background-color: var(--bg-colour);
    opacity: 0.7;

    z-index: -1;
}

#bu-mini-player-overlay > #bu-overlay-content {
    display: flex;

    height: 100%;
}

#bu-mini-player-overlay > #bu-overlay-content > div {
    display: flex;
    flex: 1;

    flex-direction: column;
    justify-content: center;

    text-align: left;

    opacity: 0.8;
}

#bu-mini-player-overlay > #bu-overlay-content > div > * {
    margin: 0;
    margin-left: 2.5vw;
}

#bu-mini-player-overlay > #bu-overlay-content > div > h2,
#bu-intro-classification > #bu-classification-overview > h2 {
    margin-bottom: 2.5vh;
}

#bu-intro-classification {
    display: flex;

    flex-direction: row;
}

#bu-intro-classification > * {
    flex: 1;
}

#bu-intro-classification > #bu-classification-overview {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

#bu-intro-classification > #bu-classification-circles {
    position: relative;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#bu-intro-classification > #bu-classification-overview > p {
    text-align: left;
}

#bu-classification-circles .bu-classification-circle {
    --diameter: 5vw;
    
    position: relative;

    background-color: var(--dark-theme-orange);
    
    height: var(--diameter);
    width: var(--diameter);

    border-radius: 50%;
    opacity: 0.5;
}

#bu-classification-circles > .bu-circle-row {
    display: flex;
    
    flex-direction: row;
}

@keyframes circle-glow {
    
}