@media screen and (max-width: 1279px) {
    #main-content {
        margin: 0vh 2.5vw;
        margin-top: 2.5vh;
    }

    /* This is just an easy way to put the navigation at the bottom. */
    .content {
        margin-bottom: 10vh;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1280px) {
    #main-content {
        margin: 0 10vw;
        margin-top: 2.5vh;
    }

    .content {
        flex-direction: column;
    }
}