.icon-link {
    display: inline-block;
    text-align: center;
    margin: 0 1vw;
}

.App {
  text-align: center;
  font-family: "Macondo Swash Caps", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a i::before {
    margin: 0 1vw;
    transition: color 0.4s ease;
}

a i.fa-github:hover::before {
    color: #4078c0;
}

a i.fa-globe:hover::before,
a i.fa-at:hover::before {
    color: #55efc4;
}

a i.fa-youtube:hover::before {
    color: #ff0000;
}

a i.fa-google-play:hover::before {
    color: #34a853;
}