@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('../fonts/gabriola.woff') format('woff');
}

#particles {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('../../res/images/starry.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    z-index: 1;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    font-family: 'Gabriola', sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;

    color: #ddd;

    font-size: 25px;
    text-align: center;
    vertical-align: middle;

    overflow-x: hidden;
}

button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
}

div.about-me,
div.my-work {
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.back-image {
    position: absolute;
    transform: scale(1) translate(-2.7%, 25%); 
    z-index: -1;
    opacity: 0;

    width: 100%;

    -webkit-transition: opacity 0.75s ease-out;
    -moz-transition: opacity 0.75s ease-out;
    transition: opacity 0.75s ease-out;
}

section {
    width: 100vw;
    height: 100vh;
}

section.about-me,
section.my-work,
section.blog, 
section.contact {
    display: none;

    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;
}

section.active {
    display: block;

    background-color: #fff;
}

.no-margin {
    margin: 0% !important;
    padding: 0% !important;
}

.splash-screen {
    display: flex;
    align-items: center;
    position: relative;

    color: #ddd;

    z-index: 25;
}

.splash-section {
    position: relative;

    display: flex;
    align-items: flex-end;

    margin: 0%;
    padding: 0%;

    height: 33vh;

    text-align: center;
    vertical-align: middle;

    -webkit-transition: background-color 0.5s ease-out, 
                            color 0.5s ease-out, 
                            font-size 1s ease-out,
                            transform 1s ease-out;
    -moz-transition: background-color 0.5s ease-out, 
                            color 0.5s ease-out,
                            font-size 1s ease-out,
                            transform 1s ease-out;
    transition: background-color 0.5s ease-out, 
                            color 0.5s ease-out,
                            font-size 1s ease-out,
                            transform 1s ease-out;
}

.section-link {    
    padding-left: 2%;
    font-size: 500%;
    color: #ddd;
    z-index: 5;
}

.section-link:link, .section-link:visited {
    color: inherit;

    text-decoration: none;
}

.narci {
    display: inline-block;

    margin-left: 2.5vw;

    font-size: 350%;
    color: #ddd;

    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;

    z-index: 5;
}


.section-hover {
    color: #fff;
}

.about-me-hover {
    background-color: #2ecc71;
}

.my-work-hover {
    background-color: #3498db;
}

.blog-hover {
    background-color: #9b59b6;
}

.contact-hover {
    background-color: #e67e22;
}


.expand {
    color: #fff;
    transform: scaleX(2.0) scaleY(3.03);
    z-index: 25;
}

.expand-about-me {
    transform-origin: 0% 0% 0;
    background-color: #2ecc71;
}

.expand-my-work {
    transform-origin: 100% 0% 0;
    background-color: #3498db;
}

.expand-blog {
    transform-origin: 0% 100% 0;
    background-color: #9b59b6;
}

.expand-contact {
    transform-origin: 100% 100% 0;
    background-color: #95a5a6;
}

.slide-up {
    animation: slide-up 1s 2s ease-in forwards;
}

@keyframes slide-up {
    from {
        /*Need to maintain current transformation*/
        transform: translateY(0vh);
    }

    to {
        transform: translateY(-101vh);
    }
}