.navigation {
    position: absolute;
    display: flex;
    flex-direction: column;

    margin: 0px;

    top: -10vh;
    left: -7vw;

    color: inherit;
    background-color: #fff;

    width: 35%;

    list-style: none;
    font-size: 200%;

    z-index: 100;
}

.navigation:first-child {
    padding-top: 10vh;
}

.navigation a:link, 
.navigation a:visited {
    display: block;

    color: #555;
    background-color: #fff;
    text-decoration: none;

    -webkit-transition: background-color 0.5s ease,
                            color 0.5s ease;
    -moz-transition: background-color 0.5s ease,
                            color 0.5s ease;
    transition: background-color 0.5s ease,
                            color 0.5s ease;
}

.navigation a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #555;
}

.navigation-container {
    text-align: center;

    color: #333;
    background-color: #fff;
    font-size: inherit;
}

.top-left {
    right: -7vw;
    left: initial;
}

.tilt {
    transform-origin: 0 0;
    transform: rotateZ(-40deg) translate(-14vw, 14vh);
}

.top-left.tilt {
    transform-origin: 0 100%;
    transform: rotateZ(40deg) translate(-2vw, -25vh);
}