#nav-info-handles {
    display: flex;
    flex-direction: column;

    justify-content: center;
    /* align-items: center; */
}

#nav-info-handles > * {
    /* flex: 1; */
}

#nav-info-handles svg {
    --fa-primary-color: var(--dark-theme-orange);
    --fa-secondary-color: var(--dark-theme-font-colour);
}