#nav-info-handles {
    display: flex;
    flex-direction: column;

    justify-content: center ;
}

#nav-info-handles svg {
    --fa-primary-color: var(--dark-theme-orange);
    --fa-secondary-color: var(--dark-theme-font-colour);
}