@media screen and (max-height: 500px) {
    .project-highlight {
        margin-top: 5vh;
        padding-bottom: 5vh;
    }

    .highlight-card {
        width: fit-content;
        align-self: center;
    }

    .highlight-image {
        height: 50vh;
    }
}

@media screen and (min-height: 500px) {
    .highlight-image {
        width: 100%;
        max-height: 30vh;
    }

    .project-highlight {
        margin-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
}

@media screen and (max-width: 960px) {
    .project-highlight {
        flex-direction: column;
    }

    .highlight-description {
        margin-top: 2vh;
    }
}

@media screen and (min-width: 960px) {
    .project-highlight {
        flex-direction: row;
    }

    /* This looks weird if reversed on a phone, or other small screen device. */
    .project-highlight.reversed-highlight {
        flex-direction: row-reverse;
    }

    .highlight-description {
        margin-left: 10%;
    }
}