.project-highlight {
    position: relative;
    display: flex;
    
    width: 75%;
}

.project-highlight::after {
    position: absolute;
    content: "";

    bottom: 0;
    left: 31.25%;
    width: 37.5%;

    border-bottom: 1px solid var(--dark-theme-orange);
}

.highlight-card {
    display: flex;
    position: relative;

    flex: 1;
    flex-direction: column;

    align-items: center;
}

.highlight-card > a {
    width: fit-content;
}

/* Don't know why, but, having the asterisk like this looks weird :3 */
.highlight-card * {
    transition: all 0.75s ease-in-out;
}

.highlight-card-info {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    z-index: 2;
    color: var(--dark-theme-font-colour);
}

.highlight-card-info.hovered-image .highlight-card-arrow {
    color: var(--dark-theme-orange);
}

.highlight-card-info.hovered-image h3.highlight-title {
    opacity: 0;
}

.highlight-description {
    flex: 1;
    align-self: center;

    text-align: center;
}

.highlight-image {
    transform: scale(1.25);
}

.highlight-image.hovered-image {
    z-index: -1;
    transform: scale(1);
}

.highlight-image-container {
    position: relative;
    overflow: hidden;

    border-radius: 5px;
}

.highlight-image-overlay {
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 1;

    background-color: var(--bg-colour);
    opacity: 0.8;
}

.highlight-image-overlay.hovered-image {
    opacity: 0;
}

h3.highlight-title {
    position: absolute;
    margin: 0;
    padding: 0;

    top: 10%;
    left: 5%;

    border-bottom: none;
}

.highlight-card-arrow {
    position: absolute;

    bottom: 5%;
    right: 5%;
}