ul.repo-selector {
    width: 100%;
    padding: 0;

    text-align: center;
    list-style-type: none;
}

ul.repo-selector > li {
    width: 100%;
    
    font-family: "Playfair Display", serif;
    font-style: italic !important;
    color: #F7F7F7;

    background-color: burlywood;
}

ul.repo-selector button {
    width: 100%;

    border: none;

    color: inherit;
    background-color: inherit;
}

ul.repo-selector > li.repo-selected {
    color: burlywood;
    background-color: #F7F7F7;
}