.fade-up {
    animation: fade-in 0.8s;
}

.fade-up.delay {
    animation: fade-in-delay 1.6s;
}

.fade-up.long-delay {
    animation: fade-in-long-delay 2.4s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        padding-top: 3rem;
    }

    to {
        opacity: 1;
        padding-top: 0rem;
    }
}

@keyframes fade-in-delay {
    0% {
        opacity: 0;
        padding-top: 3rem;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        padding-top: 0rem;
    }
}

@keyframes fade-in-long-delay {
    0% {
        opacity: 0;
        padding-top: 3rem;
    }

    33% {
        opacity: 0;
    }

    67% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
        padding-top: 0rem;
    }
}

@keyframes fade-in-extra-delayed {
    
}