:root {
    --bg-colour: #353B48;
    --bg-colour-overlay: #F1F2F6;
    /* --bg-colour: #2F3640; */
    
    --dark-theme-font-colour: #CCC;
    --dark-theme-orange: #E6AB5E;
    --dark-theme-light-orange: #EEC591;
}