.content.bloopy-content section {
    display: flex;
    position: relative;
    
    flex-direction: column;
    flex: 1;
}

.content.bloopy-content section::after {
    --width: 25%;

    position: absolute;
    content: "";

    bottom: 0;

    width: var(--width);
    left: calc((100% - var(--width)) / 2);

    border-bottom: 1px solid var(--dark-theme-orange);
}

.content.bloopy-content p {
    margin-bottom: 1vh;
}

#bloopy-overview {
    display: flex;

    flex-direction: column;
    align-items: center;

    text-align: center;
}

#bloopy-overview > h1 {
    width: fit-content;
}

#bloopy-graphics > div {
    position: relative;
    flex: 1;

    width: 100%;
    padding-bottom: 2.5vh;
}

#bloopy-graphics > div::after {
    --width: 12.5%;

    position: absolute;
    content: "";

    bottom: 0;

    width: var(--width);
    left: calc((100% - var(--width)) / 2);

    border-bottom: 1px solid var(--dark-theme-font-colour);
    opacity: 0.25;
}

#bloopy-mascot {
    text-align: center;
}

#bloopy-mascot .highlight-card {
    margin: 2.5vh 0;
}

#bloopy-animations {
    display: flex;
    margin: 5vh 0;

    align-items: center;
    justify-content: center;

    text-align: center;
}

#bloopy-animations > div {
    margin-bottom: 2.5vh;
}