.content.bloopy-content p {
    margin-bottom: 1vh;

    text-align: center;
}

#bloopy-overview {
    display: flex;

    flex-direction: column;
    align-items: center;

    text-align: center;
}

#bloopy-overview > h1 {
    width: fit-content;
}

#bloopy-graphics > div {
    position: relative;
    flex: 1;

    width: 100%;
    padding-bottom: 2.5vh;
}

#bloopy-graphics > div::after {
    --width: 12.5%;

    position: absolute;
    content: "";

    bottom: 0;

    width: var(--width);
    left: calc((100% - var(--width)) / 2);

    border-bottom: 1px solid var(--dark-theme-font-colour);
    opacity: 0.25;
}

#bloopy-mascot {
    text-align: center;
}

#bloopy-mascot .highlight-card {
    margin: 2.5vh 0;
}

#bloopy-animations {
    display: flex;
    margin: 5vh 0;

    align-items: center;
    justify-content: center;

    text-align: center;
}

#bloopy-animations > div {
    margin-bottom: 2.5vh;
}

#bloopy-gameplay > div > .player-wrapper {
    --player-height: 75vh;
    
    height: var(--player-height);

    /*
        The "padding" at the bottom that comes with the video is 10% of the video's height.
        The "padding" at the top is only 5% of the video's height.
        This is just making the difference consistent.
    */
    padding-top: calc(var(--player-height) * 0.05);
}

#bloopy-outro #link-container {
    display: flex;

    margin: 2.5vh 0;

    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}