.slideshow {
    width: 100%;
    height: 75vh;
}

.slideshow div {
    background-color: inherit;
    /* margin: 0 auto; */
}

.slick-slide {
    overflow: hidden;
}

.slick-track {
    margin: 0 auto;
}

.slick-slide img {
    margin: 0 auto;
    height: auto;
    width: 100%;

    min-width: 101%;
    min-height: 101%;
}

/* .slick-dots > li {
    display: inline;
} */

.slick-dots > li.slick-active > button::before {
    color: burlywood;
}


/* Okay, hear me out with these next two selectors.
    So, because of where each arrow is rendered within its 
    box, I have to slightly adjust their positioning so 
    that everything looks centered. Somehow this works fine
    in the default theme for the slick website,
    but not for me...
*/
.slick-prev {
    left: -2.5% !important;
}

.slick-next {
    right: -1.1% !important;
}

.slick-prev,
.slick-next {
    color: burlywood;
    border: none;
    outline: none;
    background: transparent;
    transition: color 0.5s ease;
}

.slick-arrow::before {
    color: burlywood;
}

.slick-prev::before,
.slick-next::before {
    font-size: 30px;
    color: burlywood;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: #444;
    outline: none;
    background: transparent;
}

.slideshow .slick-dots li button {
    position: relative;
    top: 150%;
    width: 10px;
    height: 25px;
}

.slideshow .slick-dots li button::before {
    content: '';
    background: burlywood;
    color: burlywood;
    height: 20px;
    width: 3px;
    border-radius: 2px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button::before {
    height: 40px;
    opacity: 1;
}

.slideshow .slick-dots li button:hover::before {
    height: 30px;
    opacity: 0.8;
}